
  <style>
    .banner {
      background-color: #000; /* Fundo escuro */
      color: #1f364f; /* Texto branco */
      padding: 50px 20px;
      text-align: center;
      
      background-image:url('img/banner.jpeg'); /* Substitua com a imagem desejada */
      background-size: cover;
      background-position: center;
    }
   

    .banner h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .banner p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    .banner .btn {
      background-color:rgba(134,199,191,0.61); 
      color: #1f364f;
      padding: 15px 30px;
      font-weight: bold;
      border-radius: 5px;
    }

    .banner .btn:hover {
      background-color: #1f364f;
      color: #ffffff;
    }
  </style>
<div class="banner">
  
    <img src="/img/logo.png" alt="Logo" class=" col-8  col-lg-4 text-center">
    <h1>Inteligência Artificial Viva Essa Experiência</h1>
    <p>Aprenda a vivenciar nova tecnologia da Inteligência Artificial, <br> potencializando sua advocacia e melhorando suas rotinas internas do escritório (dia-a-dia), <br> libertando você do operacional e possibilitando você ficar mais no estratégico</p>
    <a href="#" class="btn">Quero fazer parte da IAVE</a>
  

</div>
