
  <style>
    .banner {
      background-color: #000; /* Fundo escuro */
      color: #fff; /* Texto branco */
      padding: 50px 20px;
      text-align: center;
      background-image: url('https://placehold.co/1920x1080/000000/FFF'); /* Substitua com a imagem desejada */
      background-size: cover;
      background-position: center;
    }

    .banner h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .banner p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    .banner .btn {
      background-color: #ca2fd880; /* Cor roxa do botão */
      color: #fff;
      padding: 15px 30px;
      font-weight: bold;
      border-radius: 5px;
    }

    .banner .btn:hover {
      background-color: #534ae4;
    }
  </style>
<div class="banner">
  
    <img src="https://via.placeholder.com/150" alt="Logo" class="mb-4">
    <h1>Automatize seu escritório, <br> otimize seus processos e potencialize seus resultados.</h1>
    <p>Aprenda a criar assistentes virtuais do zero em poucos minutos, <br> para aumentar a eficiência de cada setor do seu escritório, <br> libertar você do operacional e escalar seus resultados na advocacia.</p>
    <a href="#" class="btn">QUERO ADQUIRIR A IMERSÃO</a>
  

</div>
