<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <!-- alpine JS  -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <!-- Link para o CSS do Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  
</head>
<body>
  
<div id="nav"></div>
<div id="banner"></div>
<div id="footer" ></div>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="views/componentes/script.js"></script>
</body>
</html>
